<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Hotel Paws | A Luxury Hotel for Dogs</title>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="mainpage.css" rel="stylesheet">
</head>
<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">HOTEL PAWS</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="about">About</a></li>
                <li><a href="rooms">Rooms</a></li>
                <li><a href="reservations">Reservations</a></li>
              </ul>
            </div>
          </div>
          <div class="inner-cover">
            <h1 class="cover-heading">Welcome to Hotel Paws!</h1>
            <p class="lead">Pamper your dogs as they enjoy world-class hospitality for their visit to Katipunan with Hotel Paws, a luxury hotel located in the heart of Quezon City.</p>
          </div>
        </div>
      </div>
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>
	
